{{#each surveys as |survey|}}
  <section class="take-survey col-6">
    <h3 class="survey-title">{{survey.title}}</h3>
  <form class="survey-form" data-id="{{survey._id}}">
    {{#each survey.options as |option|}}
      <input data-id="{{option.id}}" name="response[answer]" type="radio" input-type="checkbox" class="option-title radio" value="{{option.name}}"> {{option.name}}</input>
      <br>
  {{/each}}
  <div class="survey-messaging">
    <p class="messaging-{{survey._id}}"></p>
  </div>
  <input type=submit class="survey-submit btn btn-sm btn-outline-dark">
  <!-- This span around the button is so that surveyEvents.onGetResults works because
      it gets the id of the parent element's parent-->
  <span>
    <button class="results-button btn btn-sm btn-outline-dark">Results</button>
  </span>
</form>
<div data-id="{{survey._id}}" class="generic results-{{survey._id}} disable all-survey-results">
  <h3>Results</h3>
  <div>
    {{#each survey.options as |option|}}
    <div data-option-id="{{option.id}}">
      <h6 class="option-results">
        {{option.name}}: {{option.count}}
      </h6>
    </div>
    {{/each}}
  </div>
</div>
</section>
{{/each}}
