{{#each surveys as |survey|}}
  <section class="take-survey col-6">
    <h3 class="survey-title">{{survey.title}}</h3>
  <form class="survey-form" data-id="{{survey._id}}">
    {{#each survey.options as |option|}}
      <input data-id="{{option.id}}" name="response[answer]" type="radio" input-type="checkbox" class="option-title radio" value="{{option.name}}">{{option.name}}</input>
      <br>
  {{/each}}
  <div class="messaging-{{survey._id}}">
  <p></p>
  </div>
  <input type=submit class="survey-submit btn btn-sm btn-outline-dark">
  <button class="results-button btn btn-sm btn-outline-dark">Results</button>
</form>
<div id="results-{{survey._id}}" class="disable">
  <h3>Results</h3>
  <ul>
    {{#each survey.options as |option|}}
    <li data-option-id="{{option.id}}">
      <h6 class="option-results">
        {{option.name}}: {{option.count}}
      </h6>
    </li>
    {{/each}}
  </ul>
</div>
</section>
{{/each}}
