<form id="update-survey" data-id={{survey._id}}>
  <input type="text" name="survey[title]" maxlength="40" placeholder="Title" text="{{survey.title}}"><br>
  <div id='options'>
    {{#each survey.options |option|}}
    <div id='option-{{option._id}}'>
      <input type="text" name="options[]" maxlength="40" placeholder="Option Name" text="{{option.name}}">
      <button type='button' data-optionId='{{option._id}}' class='btn btn-danger remove-option'>-</button><br>
    </div>
    {{/each}}
  </div>
  <button type=button id='add-option' class='btn btn-success'>+</button>
  <input type="submit" value="Update Survey" class="btn btn-success">
</form>
